.App {
  text-align: center;
}


#main {
  min-height: 90vh;
  padding-bottom: 50px;
  padding-top: 20px;
}

#main .row > div {
  border: 1px dashed #ccc;
}

#footer {
  height: 40px;
  margin-top: -20px;
  background: #eee;
}

#amount {
  width: 75px;
}

.title {
  font-weight: bold;
  text-decoration: 1px solid underline; 
}

#ratesTableWrap {
  max-height: 400px;
  overflow-y: auto;
}

#ratesTableWrap thead tr:nth-child(2) th {
  background: #fff;
  position: sticky;
  top: 0;
}

#ratesTableWrap tbody tr:nth-child(even) {
  background: #eee;
}